:root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex-box;
  height: 90%;
  justify-content: center;
  align-items: center;
}

table {
  width: 500px;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
}
.header {
  border: solid 1px black;
  margin: 15px;
  text-align: center;
}

.data {
  text-align: center;
  border: 1px solid black;
}
